[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
pyqtdarktheme = "==2.1"
qtpy = "*"
pandas = "==2.0"
loguru = "*"

[dev-packages]
mypy = "*"
build = "*"
ruff = "*"
pydantic = "*"

[requires]
python_version = "3.10"
