-i https://pypi.org/simple
annotated-types==0.7.0
build==1.2.1
colorama==0.4.6
mypy==1.10.0
mypy-extensions==1.0.0
packaging==24.0
pydantic==2.7.2
pydantic-core==2.18.3
pyproject-hooks==1.1.0
ruff==0.4.7
tomli==2.0.1
typing-extensions==4.12.1
darkdetect==0.7.1
loguru==0.7.2
numpy==1.26.4
pandas==2.0.0
pyqt6==6.7.0
pyqt6-qt6==6.7.1
pyqt6-sip==13.6.0
pyqtdarktheme==2.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
qtpy==2.4.1
six==1.16.0
tzdata==2024.1
win32-setctime==1.1.0
